@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.landing-page__container {
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: 50px;
}
.child__left {
    display: flex;
    flex-direction: column;
    max-width: 530px;
    align-items: center;
}
.child__left-h2 {
    font-size: 47.7488px;
    line-height: 58px;
    font-weight: 700;
    /* identical to box height */
    padding: 0;
    margin: 0;
    align-items: center;
}

.paragraphs__container {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    justify-content: center;
}

.child__right {
    margin-top: 111px;
    height: 546px;
}
.vector {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 25px;
    justify-content: center;
}
.btn {
    color: #fff;
}
